<ul>
  <% if Admin::LineItemsController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_line_items_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_line_item_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::LineItemsController.sortable? and LineItem.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Line Items"),
                 admin_line_items_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Line Items"),
                 admin_line_items_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>